<h2>Digital Gauge</h2>
<div class="flex">
  <pro-digital-gauge
    [min]="style.min"
    [max]="style.max"
    [unit]="style.unit"
    [defaultColor]="style.defaultColor"
    [fontColor]="style.fontColor"
    [unitColor]="style.unitColor"
    [backgroundColor]="style.backgroundColor"
    [outerBackgroundColor]="style.outerBackgroundColor"
    [underlineColor]="style.underlineColor"
    [normalColor]="style.normalColor"
    [warnColor]="style.warnColor"
    [dangerColor]="style.dangerColor"
    [warnThreshold]="style.warnThreshold"
    [dangerThreshold]="style.dangerThreshold"
    [strokeWidth]="style.strokeWidth"
    [value]="value$ | async">
  </pro-digital-gauge>
  <div class="container">
    <div class="input-data mat-elevation-z1 dark-theme">
      <b>Digital Gauge input bindings</b><br>
      value: {{value$ | async}}<br><br>
      <mat-form-field color="accent">
        <mat-select placeholder="Theme" [value]="styles[0]" (selectionChange)="usePreset($event.value)">
          <mat-option *ngFor="let style of styles" [value]="style">{{style.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <form [formGroup]="form">
        <mat-tab-group mat-stretch-tabs color="accent">
          <mat-tab label="Colors">
            <mat-form-field color="accent">
              <input matInput placeholder="defaultColor" autocomplete="off" formControlName="defaultColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="warnColor" autocomplete="off" formControlName="warnColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="dangerColor" autocomplete="off" formControlName="dangerColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="backgroundColor" autocomplete="off" formControlName="backgroundColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="outerBackgroundColor" autocomplete="off" formControlName="outerBackgroundColor">
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Font and thresholds">
            <mat-form-field color="accent">
              <input matInput placeholder="fontColor" autocomplete="off" formControlName="fontColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="unitColor" autocomplete="off" formControlName="unitColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="underlineColor" autocomplete="off" formControlName="underlineColor">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="warnThreshold" autocomplete="off" formControlName="warnThreshold">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="dangerThreshold" autocomplete="off" formControlName="dangerThreshold">
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Labels and Units">
            <mat-form-field color="accent">
              <input matInput placeholder="min" autocomplete="off" formControlName="min">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="max" autocomplete="off" formControlName="max">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="unit" autocomplete="off" formControlName="unit">
            </mat-form-field>
            <mat-form-field color="accent">
              <input matInput placeholder="strokeWidth" autocomplete="off" formControlName="strokeWidth">
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>
</div>

<div>
  <h4>Import</h4>
  <pre class="code mat-elevation-z1">import &#123; DigitalGaugeModule &#125; from 'pro-widgets'</pre>
</div>

<div>
  <h4>Code</h4>
  <pre class="code mat-elevation-z1">
&lt;pro-digital-gauge
  min="{{style.min}}"
  max="{{style.max}}
  unit="{{style.unit}}"
  defaultColor="{{style.defaultColor}}"
  fontColor="{{style.fontColor}}"
  unitColor="{{style.unitColor}}"
  backgroundColor="{{style.backgroundColor}}"
  outerBackgroundColor="{{style.outerBackgroundColor}}"
  underlineColor="{{style.underlineColor}}"
  normalColor="{{style.normalColor}}"
  warnColor="{{style.warnColor}}"
  dangerColor="{{style.dangerColor}}"
  warnThreshold="{{style.warnThreshold}}"
  dangerThreshold="{{style.dangerThreshold}}"
  strokeWidth="{{style.strokeWidth}}"&gt;
&lt;/pro-digital-gauge&gt;</pre>
</div>